{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <script src="//api.mapy.cz/loader.js"></script>
  <script>Loader.load()</script>
{% endblock %}
{% block content %}
<div class="container overview" style="margin-bottom: 50px">

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <h1>Lorem ipsum samet</h1>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
  </div>

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Kdo jsme</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis 
      euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi 
      leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
      cursus magna.</p>
      <p><a class="btn btn-default" href="#" role="button">Více informací »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Co děláme</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor 
      ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus 
      sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor 
      mauris condimentum nibh.</p>
      <p><a class="btn btn-default" href="#" role="button">Více informací »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Co nabízíme</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis 
      in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. 
      Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
      ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">Více informací »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div>



<div class="news">
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <h2>Aktuality</h2>
        <dl class="dl-horizontal">
           <dt>26. 7. 2015</dt>
           <dd>Vestibulum id ligula porta felis euismod sempe</dd>
           <dt>17. 5. 2015</dt>
           <dd>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod</dd>
           <dt>30. 3. 2015</dt>
           <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</dd>
           <dt>18. 1. 2015</dt>
           <dd>Leo risus, porta ac consectetur ac, vestibulum at eros, praesent commodo</dd>
        </dl>
        <a class="btn btn-default" href="#" role="button">Otevřít blog »</a>
      </div>
      <div class="col-md-4">
        <!--<img class="img-responsive center-block" src="https://www.zonerama.com/photos/34290955_650x510_16.jpg" alt="Generic placeholder image">-->
      </div>
    </div>

  </div>
</div>



<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h1>Naše tvorba</h1>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
                <p><a class="btn btn-default" href="#" role="button">Prolédnout celou galerii »</a></p>
            </div>
        </div>
    </div>

    <div style="display: table; width: 100%; table-layout: fixed; border-collapse: separate; border-spacing: 5px; margin-top: 20px;">
        <div style="display: table-row">
            <div style="display: table-cell">
                <a data-lightbox="image" href="https://www.zonerama.com/photos/34290955_550x300_16.jpg" title="Obrazek">
                    <img src="https://www.zonerama.com/photos/34290955_550x300_16.jpg" style="max-width: 100%" />
                </a>
            </div>
            <div style="display: table-cell">
                <a data-lightbox="image" href="https://www.zonerama.com/photos/34290955_550x300_16.jpg" title="Obrazek">
                    <img src="https://www.zonerama.com/photos/34290955_550x300_16.jpg" style="max-width: 100%" />
                </a>
            </div>
            <div style="display: table-cell">
                <a data-lightbox="image" href="https://www.zonerama.com/photos/34290955_550x300_16.jpg" title="Obrazek">
                    <img src="https://www.zonerama.com/photos/34290955_550x300_16.jpg" style="max-width: 100%" />
                </a>
            </div>
            <div style="display: table-cell">
                <a data-lightbox="image" href="https://www.zonerama.com/photos/34290955_550x300_16.jpg" title="Obrazek">
                    <img src="https://www.zonerama.com/photos/34290955_550x300_16.jpg" style="max-width: 100%" />
                </a>
            </div>
        </div>
        <div style="display: table-row">
            <div style="display: table-cell">
                <a data-lightbox="image" href="https://www.zonerama.com/photos/34290955_550x300_16.jpg" title="Obrazek">
                    <img src="https://www.zonerama.com/photos/34290955_550x300_16.jpg" style="max-width: 100%" />
                </a>
            </div>
            <div style="display: table-cell">
                <a data-lightbox="image" href="https://www.zonerama.com/photos/34290955_550x300_16.jpg" title="Obrazek">
                    <img src="https://www.zonerama.com/photos/34290955_550x300_16.jpg" style="max-width: 100%" />
                </a>
            </div>
            <div style="display: table-cell">
                <a data-lightbox="image" href="https://www.zonerama.com/photos/34290955_550x300_16.jpg" title="Obrazek">
                    <img src="https://www.zonerama.com/photos/34290955_550x300_16.jpg" style="max-width: 100%" />
                </a>
            </div>
            <div style="display: table-cell">
                <a data-lightbox="image" href="https://www.zonerama.com/photos/34290955_550x300_16.jpg" title="Obrazek">
                    <img src="https://www.zonerama.com/photos/34290955_550x300_16.jpg" style="max-width: 100%" />
                </a>
            </div>
        </div>
    </div>

</div>



<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h1>Kde nás najdete</h1>
                <p>Duis molis, est non commodo luctus, nisi erat <b>Chrudichromy 8</b> porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur amet <b>888 777 666</b> fermentum.</p>
            </div>

            <div class="col-lg-12 text-center">
    <div id="mapa" style="width:600px; height:400px;border-radius: 7px; margin: auto"></div>
    <script type="text/javascript">
        var center = SMap.Coords.fromWGS84(16.6281099, 49.5041436);
        var map = new SMap(JAK.gel("mapa"), center, 14);
        map.addDefaultLayer(SMap.DEF_BASE).enable();
        map.addDefaultControls();                
        var layer = new SMap.Layer.Marker();
        map.addLayer(layer);
        layer.enable();
        var marker = new SMap.Marker(center, "myMarker", {});
        layer.addMarker(marker);
    </script>
                <br><p><a class="btn btn-default" href="#" role="button">Podrobný kontakt</a></p>


            </div>
        </div>
    </div>
</div>

{% endblock content %}
