html {
  position: relative;
  min-height: 100%;
}
a:active {
  outline: none;
}
body {
  margin-top: 0;
  /* Margin bottom by footer height */
  margin-bottom: 240px;
}
h2 {
  font-size: 24pt;
}
.container.content {
  margin-top: -20px;
}
article {
  margin-bottom: 50px;
}
article img {
  margin-bottom: 20px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.navbar-normal .navbar-brand {
    font-size: 25px;
    margin-top: 7px;
}
.navbar-normal .navbar-brand:hover {
    color: #337ab7;
}
.navbar-normal .navbar-header img {
  height: 50px;
  margin: 5px 10px 0 -5px;
}
.navbar-normal .navbar-nav {
    font-size: 16px;
    margin-top: 7px;
}
.navbar-normal .navbar-nav a:hover {
    background-color: transparent;
}
.navbar-mobile .navbar-header img {
  height: 40px;
  margin: 5px 0 0 5px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
}

.jumbotron {
  height: 600px;
  background-color: rgb(51, 77, 92);                                  
  -webkit-background-size: cover;                                     
  -moz-background-size: cover;                                        
  -o-background-size: cover;                                          
  background-size: cover;                                            
  padding: 0;
  color: white;
}
.jumbotron .lead {
  font-size: 25pt;
  text-shadow: 2px 2px 2px #09354A;                                   
  filter: dropshadow(color=#23759d, offx=6, offy=6);                  
}
/*@media only screen and (max-device-width: 40000px) {
  .jumbotron {display: none;}
  body {margin-top: 80px;}
}*/
@media only screen and (max-device-width: 4576px) {
  .jumbotron {background: url('/theme/images/top.jpg') no-repeat top center;}
}
@media only screen and (max-device-width: 2560px) {
  .jumbotron {background: url('/theme/images/top.jpg') no-repeat top center;}
}
@media only screen and (max-device-width: 1920px) {
  .jumbotron {background: url('/theme/images/top.jpg') no-repeat top center;}
}
@media only screen and (max-device-width: 1366px) {
  .jumbotron {background: url('/theme/images/top.jpg') no-repeat top center;}
}
@media only screen and (max-device-width: 1280px) {
  .jumbotron {background: url('/theme/images/top.jpg') no-repeat top center;}
}
@media only screen and (max-device-width: 1024px) {
  .jumbotron {background: url('/theme/images/top.jpg') no-repeat top center;}
}
@media only screen and (max-device-width: 800px) {
  .jumbotron {background: url('/theme/images/top.jpg') no-repeat top center;}
}

@media only screen and (max-device-width: 767px) {
  .jumbotron {display: none;}
  .navbar-normal {display: none;}
  .navbar-mobile {display: block;}
}
@media only screen and (min-device-width: 768px) {
  .navbar-normal {display: block;}
  .navbar-mobile {display: none;}
}



/* Center align the text within the three columns below the carousel */
.overview .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.overview h2 {
  font-weight: normal;
}
.overview .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


.news {
    background-color: #f7f7f7;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}
.news h2 {
    margin-top: 40px;
}
.news dl {
    font-size: 17px;
}
.news dt, .news dd {
    margin-bottom: 2px;
}
.news dt {
    text-align: left;
    width: 100px;
}
.news dd {
    margin-left: 110px;
}
.news .btn {
    margin-bottom: 30px;
}


.gallery {
    padding: 20px 0 40px 0;
}


.contact {
    border-top: solid 1px #ddd;
    padding: 20px 0 40px 0;
}
